<!DOCTYPE html> 
<html lang="en">
    <head>
      <title>Home</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="gruvbox.css">   
    </head>

    <body>  
        <header class="header">
            <div class="logo" href="#">
              <img src="logo.png" >
            </div>
            <nav class="navigation">
              <ul>
                <li><a href="#">xxruyle.xyz</a></li>
              </ul>
            </nav>
          </header>  

        <h1>Xavier Ruyle</h1>

        <br>
        <h1>About Me</h1>
        <div class="card-container">
            <div class="card"> 
                <p class="card-text">My name is Xavier Ruyle, I am a junior attending the University of Kansas, pursuing a B.S in Computer Science. I am passionate about working on new projects and making new things. While I'm not working on a new project I enjoy learning about different technologies and implementing them in other projects.</p>
            </div>
        </div>

        <br>
        <h1>Projects</h1>
        <div class="card-container">
            <div class="card"> 
                <h3>Voxel Engine</h3> 
                <p class="card-text">A basic Voxel Engine made from scratch with OpenGL</p> 
            </div>

            <div class="card"> 
                <h3>BandcampDownload</h3> 
                <p class="card-text">An mp3 downloader for bandcampdownload which includes mp3 metadata and album cover art</p> 

            </div>
        </div>

        <div class="card-container">
            <div class="card"> 
                <h3>Bibfind</h3> 
                <p class="card-text">A Command Line Application Bible indexer</p> 
            </div>

            <div class="card"> 
                <h3>This Website</h3> 
                <p class="card-text">In development!</p> 

            </div>
        </div>
        

    </body>

</html>